@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Source+Sans+Pro:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif; }

.navbar {
  opacity: 0.98; }
  .navbar .container-fluid .navbar-brand img {
    width: 10rem; }
  .navbar .container-fluid ul li a {
    font-size: 1.2rem; }

@media screen and (min-width: 1024px) {
  .navbar .container-fluid .navbar-brand img {
    width: 12rem; } }

.crystalCare {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f9fa; }
  .crystalCare__titulo {
    width: 100%;
    height: auto;
    background: #252525;
    display: flex;
    justify-content: center; }
    .crystalCare__titulo h1 {
      margin-top: 4.4rem;
      font-size: 3.5rem;
      font-weight: 400;
      color: #f8f9fa; }
  .crystalCare h2 {
    margin: 1.5rem 0rem;
    font-size: 2.7rem;
    font-weight: 400; }
  .crystalCare__fila {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; }
    .crystalCare__fila__columnaIzquierda {
      width: 100%;
      margin: 1.5rem 0rem;
      display: flex;
      justify-content: center; }
      .crystalCare__fila__columnaIzquierda img {
        width: 90%; }
    .crystalCare__fila__columnaDerecha {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .crystalCare__fila__columnaDerecha h3 {
        font-weight: 300;
        font-size: 1.5rem;
        margin: 2.5rem 0.5rem;
        text-align: center;
        color: #252525; }
      .crystalCare__fila__columnaDerecha p {
        margin: 1rem;
        font-size: 1.2rem;
        font-weight: 300;
        color: #252525;
        text-align: center; }
        .crystalCare__fila__columnaDerecha p span {
          color: #543c8b;
          font-weight: 400; }
      .crystalCare__fila__columnaDerecha a {
        width: 8rem;
        padding: 0.5rem;
        border: 0.065rem solid #543c8b;
        color: #a090c5;
        text-decoration: none;
        border-radius: 2rem;
        font-weight: 400;
        text-align: center; }
      .crystalCare__fila__columnaDerecha a:hover {
        color: #f8f9fa;
        background-color: #543c8b;
        transition: 0.3s all ease; }

@media screen and (min-width: 1024px) {
  .crystalCare {
    height: auto; }
    .crystalCare__fila {
      flex-direction: row;
      margin-top: 3rem; }
      .crystalCare__fila__columnaIzquierda {
        width: 50%;
        height: 100%; }
        .crystalCare__fila__columnaIzquierda img {
          width: 90%;
          height: auto; }
      .crystalCare__fila__columnaDerecha {
        width: 50%;
        height: 20rem;
        justify-content: space-evenly; }
        .crystalCare__fila__columnaDerecha h3 {
          font-size: 2rem;
          font-weight: 400;
          margin: 0; }
        .crystalCare__fila__columnaDerecha p {
          margin: 0; }
        .crystalCare__fila__columnaDerecha a {
          margin: 0; } }

.sobreNosotros {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  background-color: #252525; }
  .sobreNosotros__fila {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column; }
    .sobreNosotros__fila__columnaIzquierda {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .sobreNosotros__fila__columnaIzquierda h2 {
        margin: 1rem 0rem;
        font-size: 2.7rem;
        font-weight: 400;
        color: #f8f9fa; }
      .sobreNosotros__fila__columnaIzquierda p {
        margin: 1rem;
        font-size: 1rem;
        font-weight: 300;
        color: #f8f9fa; }
    .sobreNosotros__fila__columnaDerecha {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center; }
      .sobreNosotros__fila__columnaDerecha img {
        width: 30%;
        margin: 1.5rem; }
      .sobreNosotros__fila__columnaDerecha .cuadrado {
        width: 1.5rem;
        height: 1.5rem;
        border: 0.065rem solid #f8f9fa;
        position: absolute; }
      .sobreNosotros__fila__columnaDerecha .cuadrado1 {
        top: 10%;
        left: 15%;
        animation-name: cuadradoAnimado1;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 4s;
        animation-delay: 0s; }
      .sobreNosotros__fila__columnaDerecha .cuadrado2 {
        bottom: 13%;
        left: 20%;
        animation-name: cuadradoAnimado2;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 4.5s;
        animation-delay: 0s; }
      .sobreNosotros__fila__columnaDerecha .cuadrado3 {
        right: 15%;
        top: 40%;
        animation-name: cuadradoAnimado3;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 6.5s;
        animation-delay: 0s; }

/*Responsive*/
@media screen and (min-width: 768px) {
  .sobreNosotros__fila {
    flex-direction: row; }
    .sobreNosotros__fila__columnaIzquierda {
      width: 50%;
      justify-content: center; }
      .sobreNosotros__fila__columnaIzquierda p {
        margin: 2rem;
        font-size: 1.3rem; }
    .sobreNosotros__fila__columnaDerecha {
      width: 50%; } }

/**ANIMACIONES*/
@keyframes cuadradoAnimado1 {
  0% {
    top: 10%;
    left: 15%;
    transform: rotate(0deg); }
  25% {
    top: 12%;
    left: 13%;
    transform: rotate(90deg); }
  50% {
    top: 14%;
    left: 15%;
    transform: rotate(180deg); }
  75% {
    top: 12%;
    left: 17%;
    transform: rotate(270deg); }
  100% {
    top: 10%;
    left: 15%;
    transform: rotate(360deg); } }

@keyframes cuadradoAnimado2 {
  0% {
    bottom: 13%;
    left: 20%;
    transform: rotate(0deg); }
  25% {
    bottom: 15%;
    left: 22%;
    transform: rotate(90deg); }
  50% {
    bottom: 13%;
    left: 24%;
    transform: rotate(180deg); }
  75% {
    bottom: 11%;
    left: 22%;
    transform: rotate(270deg); }
  100% {
    bottom: 13%;
    left: 20%;
    transform: rotate(360deg); } }

@keyframes cuadradoAnimado3 {
  0% {
    top: 40%;
    right: 15%;
    transform: rotate(0deg); }
  25% {
    top: 44%;
    right: 11%;
    transform: rotate(90deg); }
  50% {
    top: 48%;
    right: 15%;
    transform: rotate(180deg); }
  75% {
    top: 44%;
    right: 19%;
    transform: rotate(270deg); }
  100% {
    top: 40%;
    right: 15%;
    transform: rotate(360deg); } }

.servicios {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  padding: 1rem;
  background: #f8f9fa; }
  .servicios h2 {
    text-align: center;
    align-self: center;
    font-size: 2.7rem;
    font-weight: 400;
    color: #252525; }
  .servicios p {
    font-size: 1rem;
    text-align: center;
    font-weight: 300;
    color: #252525; }
    .servicios p a {
      font-weight: 400;
      color: #a090c5; }
  .servicios__fila {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1rem; }
    .servicios__fila__tarjetaServicio {
      width: 15rem;
      margin: 1.5rem 0.35rem;
      padding: 0.65rem;
      border: 0.1rem solid #543c8b;
      border-radius: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0.5rem 0.5rem 0.5rem 0rem #252525; }
      .servicios__fila__tarjetaServicio i {
        font-size: 2rem; }
      .servicios__fila__tarjetaServicio h3 {
        text-align: center;
        margin-top: 1rem; }
    .servicios__fila__tarjetaServicio:hover {
      background: #543c8b;
      transition: 0.3s all ease;
      cursor: pointer; }
      .servicios__fila__tarjetaServicio:hover i {
        color: #f8f9fa;
        transition: 0.3s all ease; }
      .servicios__fila__tarjetaServicio:hover h3 {
        color: #f8f9fa;
        transition: 0.3s all ease; }
      .servicios__fila__tarjetaServicio:hover p {
        color: #f8f9fa;
        transition: 0.3s all ease; }

.destacados {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #252525; }
  .destacados h2 {
    font-size: 2.7rem;
    font-weight: 400;
    text-align: center;
    color: #f8f9fa; }
  .destacados p {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    color: #a090c5; }
  .destacados__fila {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .destacados__fila__tarjetaDestacada {
      width: 20rem;
      margin: 6rem 0rem 1rem 0rem;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #f8f9fa;
      position: relative;
      border-radius: 5%; }
      .destacados__fila__tarjetaDestacada img {
        width: 10rem;
        height: 10rem;
        margin-top: -5rem;
        border: 0.7rem solid #252525;
        border-radius: 50%; }
      .destacados__fila__tarjetaDestacada p {
        font-size: 1rem;
        font-weight: 400;
        color: #252525;
        margin: 1rem; }
      .destacados__fila__tarjetaDestacada h3 {
        margin: 1rem;
        font-size: 1.3rem;
        font-weight: 600;
        color: #f8f9fa;
        bottom: 1.5rem;
        text-align: center;
        color: #252525; }
        .destacados__fila__tarjetaDestacada h3 span {
          color: #a090c5;
          text-align: center;
          font-weight: 400; }
    .destacados__fila__tarjetaDestacada:hover {
      transform: scale(1.1);
      transition: 0.3s all ease;
      cursor: pointer; }

.contacto {
  width: 100%;
  margin: 1.5rem 0rem;
  padding: 1rem;
  background: #f8f9fa; }
  .contacto h2 {
    text-align: center;
    font-size: 2.7rem;
    font-weight: 400;
    margin: 1rem 0rem;
    color: #252525; }
  .contacto__fila {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contacto__fila__columnaIzquierda {
      width: 100%; }
      .contacto__fila__columnaIzquierda__formulario {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly; }
        .contacto__fila__columnaIzquierda__formulario input {
          line-height: 1.6rem;
          margin-top: 1rem;
          background: #f8f9fa;
          border-style: none;
          border-bottom: 0.065rem solid #a090c5; }
        .contacto__fila__columnaIzquierda__formulario input:focus {
          border-bottom: 0.2rem solid #543c8b;
          transition: 0.2s all ease; }
        .contacto__fila__columnaIzquierda__formulario textarea {
          margin-top: 1rem; }
        .contacto__fila__columnaIzquierda__formulario__boton {
          width: 100%;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center; }
          .contacto__fila__columnaIzquierda__formulario__boton input {
            padding: 0.5rem;
            border: 0.065rem solid #543c8b;
            border-radius: 2rem;
            color: #808285; }
          .contacto__fila__columnaIzquierda__formulario__boton input:hover {
            background: #543c8b;
            color: #f8f9fa;
            transition: 0.3s all ease; }
          .contacto__fila__columnaIzquierda__formulario__boton input:focus {
            border-bottom: none; }
    .contacto__fila__columnaDerecha {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center; }
      .contacto__fila__columnaDerecha .follow {
        width: 100%;
        padding: 0.65rem;
        margin-top: 1rem;
        background-color: #fff; }
        .contacto__fila__columnaDerecha .follow label {
          font-weight: 600; }
        .contacto__fila__columnaDerecha .follow i {
          color: #543c8b;
          margin-left: 1rem; }

@media screen and (min-width: 768px) {
  .contacto__fila {
    flex-direction: row;
    justify-content: space-evenly; }
    .contacto__fila__columnaIzquierda {
      width: 45%; }
    .contacto__fila__columnaDerecha {
      width: 45%; } }

#footer {
  background-color: #252525;
  margin: 0; }
  #footer .container p {
    font-weight: 400;
    color: #f8f9fa;
    padding: 2rem;
    margin: 0; }
    #footer .container p i {
      color: #ec3535; }

.crystalCare {
  width: 100%;
  height: auto;
  background-color: #f8f9fa; }
  .crystalCare__heroFila {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column; }
    .crystalCare__heroFila__columnaI {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .crystalCare__heroFila__columnaI h1 {
        margin-top: 4.4rem;
        font-size: 3rem;
        color: #543c8b; }
        .crystalCare__heroFila__columnaI h1 span {
          font-family: "Dancing Script", cursive;
          color: #808285; }
      .crystalCare__heroFila__columnaI h2 {
        font-size: 2.7rem;
        font-weight: 600;
        color: #252525; }
      .crystalCare__heroFila__columnaI p {
        font-size: 1.5rem;
        font-weight: 400;
        color: #252525; }
        .crystalCare__heroFila__columnaI p span {
          font-family: "Dancing Script", cursive;
          color: #543c8b; }
    .crystalCare__heroFila__columnaD {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .crystalCare__heroFila__columnaD img {
        width: 80%;
        max-width: 30rem; }
      .crystalCare__heroFila__columnaD--texto {
        margin: 1.5rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .crystalCare__heroFila__columnaD--texto i {
          margin: 1rem 0rem;
          color: #543c8b;
          animation-name: textoAnimado;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-duration: 3s;
          animation-delay: 0s; }
        .crystalCare__heroFila__columnaD--texto p {
          font-size: 1.2rem;
          text-align: center;
          font-family: "Dancing Script", cursive;
          color: #252525; }
  .crystalCare__descripcionFila {
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.5rem;
    background: #252525;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .crystalCare__descripcionFila__columnaI {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .crystalCare__descripcionFila__columnaI img {
        width: 80%;
        max-width: 25rem; }
    .crystalCare__descripcionFila__columnaD {
      width: 100%;
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .crystalCare__descripcionFila__columnaD h2 {
        font-size: 2.7rem;
        font-weight: 600;
        color: #f8f9fa;
        text-align: center; }
      .crystalCare__descripcionFila__columnaD p {
        font-size: 1.3rem;
        font-weight: 400;
        color: #f8f9fa;
        text-align: center; }
        .crystalCare__descripcionFila__columnaD p span {
          font-family: "Dancing Script", cursive;
          color: #a090c5; }
      .crystalCare__descripcionFila__columnaD a {
        margin: 1rem;
        padding: 0.7rem;
        width: auto;
        border: 0.065rem solid #f8f9fa;
        border-radius: 2rem;
        text-decoration: none;
        color: #f8f9fa; }
      .crystalCare__descripcionFila__columnaD a:hover {
        background: #f8f9fa;
        color: #252525;
        font-weight: 600;
        transition: 0.3s all ease; }

/*Responsive*/
@media screen and (min-width: 768px) {
  .crystalCare__heroFila {
    margin-top: 5.5rem;
    flex-direction: row;
    height: auto; }
    .crystalCare__heroFila__columnaI {
      width: 45%;
      padding: 0.5rem;
      justify-content: center; }
      .crystalCare__heroFila__columnaI h1 {
        margin-top: 0; }
    .crystalCare__heroFila__columnaD {
      width: 55%;
      padding: 0.5rem;
      justify-content: center; }
      .crystalCare__heroFila__columnaD img {
        width: 90%; }
      .crystalCare__heroFila__columnaD--texto {
        width: 50%;
        margin-bottom: 0rem; }
        .crystalCare__heroFila__columnaD--texto i {
          font-size: 1.3rem; } }

@media screen and (min-width: 1024px) {
  .crystalCare__heroFila {
    flex-direction: row;
    height: auto;
    margin-top: 4.5rem; }
    .crystalCare__heroFila__columnaI {
      width: 50%; }
    .crystalCare__heroFila__columnaD {
      width: 50%;
      justify-content: center; }
      .crystalCare__heroFila__columnaD img {
        width: 80%; }
  .crystalCare__descripcionFila {
    flex-direction: row; } }

/**ANIMACIONES*/
@keyframes textoAnimado {
  0% {
    transform: translateY(-0.5rem); }
  50% {
    transform: translateY(0.5rem); }
  100% {
    transform: translateY(-0.5rem); } }

.planes {
  height: auto;
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.5rem;
  background: #f8f9fa; }
  .planes h2 {
    text-align: center;
    font-size: 2.7rem;
    color: #252525; }
  .planes__fila {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .planes__fila__tarjeta {
      width: 20rem;
      height: auto;
      border: 0.07rem solid #543c8b;
      border-radius: 2rem;
      margin: 1rem 0rem;
      padding: 1rem; }
      .planes__fila__tarjeta--titulo {
        border-bottom: 0.07rem solid #543c8b; }
        .planes__fila__tarjeta--titulo h3 {
          text-align: center;
          font-size: 1.3rem;
          font-weight: 400;
          color: #252525; }
          .planes__fila__tarjeta--titulo h3 span {
            color: #543c8b;
            font-weight: 600; }
      .planes__fila__tarjeta--descripcion--icono {
        display: flex;
        align-items: center; }
        .planes__fila__tarjeta--descripcion--icono i {
          color: #543c8b;
          margin: 1rem 0rem 0rem 0.5rem; }
        .planes__fila__tarjeta--descripcion--icono p {
          margin: 1rem 0rem 0rem 0.5rem;
          font-size: 1.1rem;
          font-weight: 400; }
      .planes__fila__tarjeta--boton {
        width: 100%;
        display: flex;
        justify-content: center; }
        .planes__fila__tarjeta--boton a {
          width: auto;
          margin-top: 1rem;
          padding: 0.5rem;
          background-color: #543c8b;
          color: #f8f9fa;
          text-decoration: none;
          border-radius: 0.5rem; }
        .planes__fila__tarjeta--boton a:hover {
          background: #f8f9fa;
          border: 0.07rem solid #543c8b;
          color: #543c8b;
          font-weight: 600;
          transition: 0.3s all ease; }
  .planes__planPersonalizado {
    font-size: 1.1rem;
    color: #252525;
    font-weight: 400;
    text-align: center;
    margin: 1rem; }
    .planes__planPersonalizado a {
      color: #543c8b;
      font-weight: 600; }
    .planes__planPersonalizado span {
      font-family: "Dancing Script", cursive;
      color: #808285;
      font-size: 1.8rem; }
  .planes__condiciones {
    width: 80%;
    margin-top: 1.5rem; }
    .planes__condiciones p {
      font-size: 1rem;
      font-weight: 300;
      color: #f8f9fa;
      text-align: center; }
      .planes__condiciones p span {
        font-family: "Dancing Script", cursive;
        color: #a090c5;
        font-size: 1.5rem; }

.beneficios {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.5rem;
  background-image: url("../../src/assets/images/cieloEstrellado.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .beneficios h2 {
    font-size: 2.7rem;
    font-weight: 400;
    color: #f8f9fa; }
  .beneficios__fila {
    width: 100%;
    max-width: 64rem;
    height: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .beneficios__fila__beneficio {
      width: 19rem;
      margin-top: 1rem;
      display: flex; }
      .beneficios__fila__beneficio__columnaI {
        width: 20%;
        padding: 1rem;
        display: flex;
        align-items: flex-start;
        justify-content: center; }
        .beneficios__fila__beneficio__columnaI i {
          font-size: 1.5rem;
          color: #f8f9fa; }
      .beneficios__fila__beneficio__columnaD {
        width: 80%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column; }
        .beneficios__fila__beneficio__columnaD--titulo {
          height: 20%; }
          .beneficios__fila__beneficio__columnaD--titulo h4 {
            text-align: left;
            font-size: 1.5rem;
            font-weight: 400;
            color: #f8f9fa; }
        .beneficios__fila__beneficio__columnaD--descripcion p {
          text-align: left;
          margin-top: 1rem;
          font-size: 1.2rem;
          font-weight: 400;
          color: #f8f9fa; }
          .beneficios__fila__beneficio__columnaD--descripcion p span {
            font-weight: 600;
            color: #a090c5; }
            .beneficios__fila__beneficio__columnaD--descripcion p span a {
              color: #f8f9fa; }
