/* NAVEGADOR */
.navbar {
  opacity: 0.98;
  .container-fluid {
    .navbar-brand {
      img {
        width: 10rem;
      }
    }
    ul {
      li {
        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    .container-fluid {
      .navbar-brand {
        img {
          width: 12rem;
        }
      }
    }
  }
}
