@import "0_colores";
.servicios {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  padding: 1rem;
  background: $blanco;
  h2 {
    text-align: center;
    align-self: center;
    font-size: 2.7rem;
    font-weight: 400;
    color: $negro;
  }
  p {
    font-size: 1rem;
    text-align: center;
    font-weight: 300;
    color: $negro;
    a {
      font-weight: 400;
      color: $terciario;
    }
  }
  &__fila {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1rem;
    &__tarjetaServicio {
      width: 15rem;
      margin: 1.5rem 0.35rem;
      padding: 0.65rem;
      border: 0.1rem solid $primario;
      border-radius: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0.5rem 0.5rem 0.5rem 0rem $negro;
      i {
        font-size: 2rem;
      }
      h3 {
        text-align: center;
        margin-top: 1rem;
      }
    }
    &__tarjetaServicio:hover {
      background: $primario;
      transition: 0.3s all ease;
      cursor: pointer;
      i {
        color: $blanco;
        transition: 0.3s all ease;
      }
      h3 {
        color: $blanco;
        transition: 0.3s all ease;
      }
      p {
        color: $blanco;
        transition: 0.3s all ease;
      }
    }
  }
}
