*{
    margin: 0;
    padding: 0;
    /*--font-family: "montserrat", sans-serif;--*/
    box-sizing: border-box;
}

/*----Navigation----*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 15;
    box-shadow: 0px 2px 5px 0px #ccc;
}
.navbar-brand img{
    height: 60px;
    padding-top: 10px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{ 
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover{
    color: #007bff!important;
    /*color: #543C8B!important;  Este es el violeta de crystal*/
}
.navbar{
    background: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

/*----Descripcion----*/
.cuerpo{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fdfdfd;
}

.about-section{
    background: url(fotos/trabajo.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background: #fdfdfd;
    padding: 30px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 16px;
    color: #313031;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 14px;
}


/*----Servicios----*/
.services-section{
    background: url(fotos/pcfondooscuro.jpg);
    background-size: cover;
  
    padding: 60px 0px;
}

.inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
    overflow: hidden;
}

.section-title{
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.border{
    width: 160px;
    height: 2px;
    margin: 40px auto;
}

.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box{
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.service-icon{
    display: inline-block;
    width: 65px;
    height: 65px;
    border: 3px solid #fff;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 15px;
    transition: 0.3s linear;
}

.service-icon i{
    line-height: 65px;
    transform: rotate(-45deg);
    font-size: 28px;
}

.service-box:hover .service-icon{
    background: #B859F9;
}

.service-title{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-desc{
    font-size: 14px;
}

/*----------Precios----------*/
#price{
    padding: 40px 0;
    background: #efefef;
}
.single-price{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}
.single-price:hover{
    box-shadow: 0 2px 20px #333;
}
.price-head{
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5x;
    text-align: center;
    width: 100%;
}
.price-head h2{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
    margin-top: 10px;
}
.price-head p{
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}
#price span{
    font-size: 15px;
}
.price-content{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}
.price-content ul li{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}
ul li:last-child{
    border:none;
}
.fa-check-circle{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
.fa-times-circle{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}
.price-button{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}
.buy-btn{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}
.buy-btn:hover{
    border-color: 1px solid #fff;
    background-color: #3f51b5;
}
#price a{
    text-decoration: none!important;
    color: #fff!important;
}

/*----------Contacto----------*/
#contact{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
    
}

#contact a{
    text-decoration: none!important;
    color: #fff!important;
}

.contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder{
    color: #999 !important;
}
.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}
/*----------Footer----------*/
#footer{
background: #333;
color: #fff;
padding: 12px;
}
.fa-heart-o{
    margin: 3px;
    color: red;
}


/*----------Responsive----------*/
@media screen and (max-width:1200px) {
    .inner-container{
        padding: 16px;
    }
}

@media screen and (max-width:1000px) {
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
        
    }

    .inner-container{
        width: 100%;
        background: rgba(253, 253, 253, .9);
    }

    

    
}


@media screen and (max-width:991px) {
    .service-box{
        max-width: 45%;
    }

    #price{
        padding: 40px 0;
        background: #efefef;
    }
}

@media screen and (max-width:791px) {
    .service-box{
        max-width: 50%;
    }
}

@media screen and (max-width:700px) {
    .cuerpo{
        min-height: 50vh;
    }
}

@media screen and (max-width:600px) {
    .navbar-brand img{
        height: 50px;
        padding-top: 10px;
    }
}

@media screen and (max-width:550px) {
    .navbar-brand img{
        height: 50px;
        padding-top: 10px;
    }
    
    .about-section{
        padding: 0;
    }

    .inner-container{
        padding: 5px;
    }

    .skills {
        visibility: hidden;
    }
}

@media screen and (max-width:491px) {
    .service-box{
       max-width: 100%;
    }
}

@media screen and (max-width:475px) {
    .navbar-brand img{
        height: 40px;
        padding-top: 10px;
    }
}

@media screen and (max-width:450px) {
    .inner-container{
        padding: 0;
    }

    .inner-container h1{
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 900;
        padding: 0 15px;
    }

    .text{
        font-size: 15px;
        color: #313031;
        line-height: 30px;
        text-align: justify;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:377px) {
    .about-section{
        background: #fdfdfd;
    }

    .inner-container{
        padding: 0 15px;
    }
}


